body{
  font-family: "Montserrat";
}


h1, h2, h3, h4, h5, h6 {  
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  
}


h2{
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}


h3{
  font-size: 1.7rem;
  
  font-weight: 900;
}


p{
  color: #8f8f8f;
}

/* Big Heading */

.big-heading{
  font-family: 'Montserrat', sans-serif; 
  font-size: 3.5rem;
  line-height: 1.5;  
  font-weight: 900;
}


#title {
  background-color: #ea1656;
  color: white;
}
.icon{
  color: #f0604e;
  margin-bottom: 1rem;
  
}
.icon:hover{
  color: #ea1656;
}
.container-fluid{
  padding: 3% 15% 7%;
  
}
body{
  font-family: "Montserrat";
}

/*Navigation Bar*/


.navbar{

  padding: 0 0 4.5rem;

}




.navbar-brand{
  font-family: "Ubuntu";
  padding-right: 50%;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: lighter;
}

/* download buttons*/

.download-button{
  margin: 5% 3% 5% 0;
}

/*title image*/

.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* features */

#features{
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
}

.feature-box{
  text-align: center;
  padding: 5%;
}

/* testimonial */ 

#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color: #f0604e;
  color: white;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press{
  background-color: #f0604e;
  text-align: center;
  padding-bottom: 3%;
  
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item{
  padding: 7% 15%;
}

/* pricing*/

#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-column{
  padding: 3% 2%;
}




@media (max-width:1028px) {
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
  }
  
}

/* cta */

#cta{
  background-color: #ea1656;
  text-align: center;
  
}
html {
  scroll-behavior:smooth;
}
.cta{
  color: white;
  padding-top: 5%;
  font-family: 'Montserrat', sans-serif; 
   font-size: 3.5rem;
       line-height: 1.5;
     
}
.download-btn{
  margin: 5% 3% 5% 0;
  width: 15%;
  text-align: center;
  display: inline-block;
}

/* footer */

#footer{
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.icons{
  margin: 10px;
}